@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Coolvetica Condensed';
  src: url('/src/assets/fonts/Coolvetica Rg Cond.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}